body {
    margin: 0;
    padding: 0;
    background: url(../img/foodbg.jpg) 100%;
    font-family: sans-serif;
    background-size: 100% 100%;
    background-position: no-repeat;
    background-attachment: fixed;
}

.text {
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
    box-shadow: 10px 0px 100px #982439;
}

.avatar {
    width: auto;
    height: auto;
    position: absolute;
    top: -50px;
    left: calc(50% - 130px);
}

@font-face {
    font-family: 'glitterfont';
    src: url('fonts/glitterfont.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 50px;
    font-family: "glitterfont"
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: "glitterfont";
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
    font-family: "glitterfont";
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px soli white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #982439;
    color: white;
    font-size: 30px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: white;
    color: #982439;
}
